<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  
  <title>Chrome OS 是什么 | Lyric.im</title>
  <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>

  
  <meta name="author" content="Lyric Wai">
  
  <meta name="description" content="描述">
  
  
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Chrome OS 是什么"/>
  <meta property="og:site_name" content="Lyric.im"/>

  <link rel="alternate" href="/atom.xml" title="Lyric.im" type="application/atom+xml">
  <!--[if lt IE 9]><script src="theme/js/html5.js"></script><![endif]-->
  <link rel="stylesheet" href="././././theme/css/style.css" type="text/css" media="screen" /> 
  <link rel="shortcut icon" type="image/png" href="theme/images/favico.ico" />    
  <script type="text/javascript" src="././././theme/js/jquery.js"></script>
  <script type="text/javascript" src="././././theme/js/main.js"></script>
  
</head>


<body>
  <div id="header">
    <div id="nav_wrapper">
        <div id="nav">
            <div class="inner">
                <h1 id="title"><a href="/">Lyric.im</a></h1>
                <div id="description" class="seal"></div>
                <ul class="right">
                    
                    <li><a href="/">Home</a></li>
                    <li class="dot">&bull;</a>
                    
                    <li><a href="/about">About</a></li>
                    <li class="dot">&bull;</a>
                    
                    <li><a href="/tags/tech">Tech</a></li>
                    <li class="dot">&bull;</a>
                    <li><a href="/tags/english">English</a></li>
                    <li class="dot">&bull;</a>
                    <li><a href="/tags/paint">Artworks</a></li>
                    <li class="dot">&bull;</a>
                    <li><a href="/tags/linux">Linux</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="header_inner">
        <div id="social">
            <a href="http://twitter.com/ilrcat" target="_blank" title="Follow Me @ Twitter"><img src="theme/images/ic16_twitter.png"></a>
            <a href="http://github.com/lyricat" target="_blank" title="Fork Me @ Github"><img src="theme/images/ic16_github.png"></a>
            <a href="http://lyric.im/feed" target="_blank" title="Subscribe My Blog"><img src="theme/images/ic16_rss.png"></a>
        </div>
        <div id="search">
  <form action="http://google.com/search" method="get" accept-charset="utf-8">
    <input type="text" name="q" results="0" class="search_box" placeholder="Search">
    <input type="hidden" name="q" value="site:lyric.im">
  </form>
</div>
        <div class="sep"></div>
    </div>
</div>

  

<div class="article">
  <div class="inner">
    
  
    <h2 class="article_title title">Chrome OS 是什么</h2>
  

    <div class="article_meta">
      
              <div class="share">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="shellex">Tweet</a>
        <div class="g-plusone" data-size="medium"></div>
      </div>

      
      <span>by</span>
      Lyric Wai
      <span>on</span> May 18 2013
      <span>with</span>
      <a href="/what-is-chrome-os/#comments">Comments</a>
    </div>
    <div class="text">
      
        <p>上周有用户向我反应，他们已经在 Chrome Web Store 中发现了测试中的 Hotot 3。然后我才发现，Google 已经开始在 Web Store 中上线 new Packaged App了。只不过只在 Chrome Dev Channel for Windows 和 Chrome OS 中是可见的。</p>
<p>在新版的 Web Store 中，所有的之前的被称为网站快捷方式 Chrome App 都被移到了 「Website」 这一标签下（1.0 版的 Hotot 也被移到这里），而 「App」 标签下仅包含 new packaged app。</p>
<p>这个现象表达了 Google 的态度，我想也就是他们的战略，即 Chrome 是未来。长期在 Chrome 的生态中开发，我之前已经多次对 Chrome 表达了赞美之情，人们最初认为 Chrome OS 是一个没了网络就啥都不能干的系统的看法是完全错误的。我想说的是 Chrome OS 实际上是一个增强版的 iOS，在诸多方面，Chrome/Chrome OS 都与名声赫然的 iOS 有很高的相似之处，本质上，new Package App 就是 Chrome/Chrome OS 上的 Native App。当然，作为一个「增强版 iOS」，Chrome OS 拥有一些在 iOS 上被翘首企盼但是还没有的特性。</p>
<p>考虑到 Chrome OS 和 Chrome 浏览器的一致性，下文如未特殊说明，统一用 Chrome 指代 Chrome 浏览器和 Chrome OS，用 App 指代 iOS 中的 App 和 Chrome 的 new Packaged App</p>
<h3>一致的 App 范式</h3>
<p>在 iOS 中，每个 App 都运行与独立的沙盒中，App 的数据不得直接进行交互，也没有全局的文件系统访问能力。在 Chrome 中也有类似的机制。下图分别描述了在 iOS 上的 App 和 Chrome 上的 App 与网络服务交互的方式。</p>
<p><img src="theme/images/what-is-chrome-os-01.png" alt="compare to iOS and chrome"></p>
<p>可以看出，Chrome 中 fileSystem 和 storage.local 相当于 iOS 中 App 的沙盒文件系统；syncFileSystem 和 storage.sync 则负责同步到 Google Cloud （也就是 Google Drive），与 iCloud 类似。</p>
<p>在这个模式上，Chrome 值得一提，即只要在 Chrome 中登录过账户，那么所有使用 syncFileSystem 和 storage.sync API 的 App 数据都会无缝地同步到 Google Drive，而无需额外授权。</p>
<h3>两者有类似的通知机制</h3>
<p>在 iOS 中，由于 App 没有后台运行的能力，因此需要 App Notification Push 来接收更新。而在 Chrome 中也有类似的能力，那就是 Google Cloud Messaging。GCM 不但提供 Android 设备的通知，也提供 Chrome 设备的通知。</p>
<h3>一个折衷的后台进程</h3>
<p>准确地说，Chrome 中没有 Daemon。取而代之的是 <a href="http://developer.chrome.com/trunk/apps/app_lifecycle.html">event page</a>。这是一个基于事件的 App 控制方式。官方希望通过 API 引导开发者去保存 App 的状态，而不是一个持续运作的后台进程。</p>
<h3>更好的进程间通讯机制</h3>
<p>iOS 的进程间通讯机制一直被开发者诟病，需要将 URI 硬编码到 App 中才能实现那么一丁点交互能力，更别提各个 App 分开授权对体验的破坏了。</p>
<p>在 Chrome 中则有一套消息机制，这套消息机制可以作用于 App 内部，也可以作用于整个 Chrome，用于多个 App 之间的通讯。</p>
<h3>最后</h3>
<p>作为新一代 OS，Chrome OS 没有 OS X 和 Windows 在设计上所背负的历史包袱，因此可以有机会像 iOS 一样轻装前行。我很高兴看到 Chrome 走在正确的道路上。</p>

      
    </div>
    <div class="big_sep"></div>
    <div class="article_meta">
      <span>tagged:</span>
      
  
  <a class="tag" href="/tags/chrome/">chrome</a>, <a class="tag" href="/tags/review/">review</a>, <a class="tag" href="/tags/tech/">tech</a>

    </div>
    
      
<div id="comments" class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'lyric-im'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>    
</div>

    
  </div> <!-- .inner -->
</div>  <!-- .article -->



  <div id="footer_wrapper">
<div id="footer">
    <div id="footer_inner">
        <div class="archives col">
            <h2>Archives</h2>
            <ul>
                <li><a href="/archives/2013/">2013</a></li>
                <li><a href="/archives/2012/">2012</a></li>
                <li><a href="/archives/2011/">2011</a></li>
                <li><a href="/archives/2010/">2010</a></li>
                <li><a href="/archives/2008/">2008</a></li>
            </ul>
        </div>
        <div class="tag_cloud col">
            
<h2>Tag Cloud</h2>
  
    <a class="tag" href="/tags/life/">life(23)</a>
  
    <a class="tag" href="/tags/review/">review(20)</a>
  
    <a class="tag" href="/tags/paint/">paint(19)</a>
  
    <a class="tag" href="/tags/tech/">tech(27)</a>
  
    <a class="tag" href="/tags/hotot/">hotot(9)</a>
  
    <a class="tag" href="/tags/security/">security(3)</a>
  
    <a class="tag" href="/tags/career/">career(5)</a>
  
    <a class="tag" href="/tags/history/">history(1)</a>
  
    <a class="tag" href="/tags/dream/">dream(6)</a>
  
    <a class="tag" href="/tags/linux/">linux(10)</a>
  
    <a class="tag" href="/tags/大吐槽/">大吐槽(4)</a>
  
    <a class="tag" href="/tags/how-to/">how-to(5)</a>
  
    <a class="tag" href="/tags/cook/">cook(1)</a>
  
    <a class="tag" href="/tags/english/">english(5)</a>
  
    <a class="tag" href="/tags/osx/">osx(3)</a>
  
    <a class="tag" href="/tags/chrome/">chrome(1)</a>
  
    <a class="tag" href="/tags/google/">google(1)</a>
  
    <a class="tag" href="/tags/remove/">remove(1)</a>
  

        </div>
        <div class="links col">
            <h2>Links</h2>
            <ul>
                <li><a href="http://hotot.org">Project Hotot</a></li>
                <li><a href="https://github.com/lyricat">My Github repos</a></li>
                <li><a href="http://dribbble.com/lyricat">My Dribbble</a></li>
                <li><a href="https://twitter.com/ilrcat">My Twitter</a></li>
            </ul>
        </div>
        <div class="copyright">
            2005 - 2013
            © Lyric Wai, All rights reserved.
            <span>&bull;</span> 
            Powered by <a href="http://zespia.tw/hexo/">HEXO</a>
            <span>&bull;</span> 
            SealScript Theme by <a href="http://lyric.im">Lyric Wai</a>
        </div>
    </div>
</div>
</div>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-4178606-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  <nav id="pagination">
    
    
        <a id="next" href="/" class="v_nav">
            <span class="icon">Next</span>
        </a>
    
</nav>
</body>
</html>
