<div id="footer_wrapper">
	<div id="footer">
	<div id="footer_inner">
		<div class="archives col">
			<h2>Archives</h2>
			<ul>
				{{range .Archives}}
				<li><a href="././archives/index.html#{{.YearMonth}}">{{.YearMonth}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="tag_cloud col">
			<h2>Tag Cloud</h2>
			{{range .Tags}}
			<a class="tag" href="././tags/{{.Alias}}.html">{{.Name}}({{.Count}})</a>
			{{end}}
		</div>
		<div class="links col">
			<h2>Links</h2>
			<ul>
				{{range .Links}}
				<li><a href="{{.Href}}">{{.Name}}</a></li>
				{{end}}
			</ul>
		</div>
		<div class="copyright">
			2005 - 2013 © Liqun, All rights reserved. 
			<span>&bull;</span> Powered by <a href="https://github.com/xlqstar/Just" target="_blank">Just</a>
			<span>&bull;</span>	SealScript Theme by <a href="http://lyric.im" target="_blank">Lyric Wai</a>
		</div>
	</div>
	</div>
</div>