<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>归档</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<meta name="author" content="{{.SiteInfo.Author}}">	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="alternate" href="/atom.xml" title="{{.SiteInfo.Site}}" type="application/atom+xml">
	<!--[if lt IE 9]><script src="././js/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="././css/style.css" type="text/css" media="screen" /> 
	<link rel="icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<script type="text/javascript" src="././js/jquery.js"></script>
	<script type="text/javascript" src="././js/main.js"></script>
</head>

<body>

	<!--header--><!--//header-->

	<div class="article">
		<div class="inner">
			<h2 class="article_title title">归档日志</h2>
			<div class="text">
				<ul>
				{{range .Archives}}
				<h3>{{.YearMonth}}</h3>
					{{range .LogList}}
					<li><a href="././posts/{{.Permalink}}/index.html">{{.Title}}</a></li>
					{{end}}
				{{end}}
				</ul>
			</div>
			<div class="big_sep"></div>
		</div> <!-- .inner -->
	</div>	<!-- .article -->

	<!--footer--><!--//footer-->

</body>
</html>