<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{.LogInfo.Title}} | {{.SiteInfo.Site}}</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<meta name="author" content="{{.SiteInfo.Author}}">  
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="alternate" href="/atom.xml" title="{{.SiteInfo.Site}}" type="application/atom+xml">
	<!--[if lt IE 9]><script src="././js/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="././css/style.css" type="text/css" media="screen" /> 
	<link rel="icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<script type="text/javascript" src="././js/jquery.js"></script>
	<script type="text/javascript" src="././js/main.js"></script>
</head>

<body>

	<!--header--><!--//header-->

	<div class="article">
		<div class="inner">
			<h2 class="article_title title">{{.LogInfo.Title}}</h2>
			<div class="article_meta">
				<span>by</span>
				{{$.SiteInfo.Author}}
				<span>on</span>
				{{.LogInfo.Date.Format " Jan 2 2006"}}
				<span>with</span>
				<a href="././posts/{{.LogInfo.Permalink}}/index.html#comments">Comments</a>
			</div>
			<div class="text">{{.LogInfo.Log}}</div>
			<div class="big_sep"></div>
			{{if .LogInfo.Tags}}
			<div class="article_meta">
				<span>tagged:</span>
				{{range .LogInfo.Tags}}
				<a class="tag" href="././tags/{{.Alias}}.html">{{.Name}}</a>, 
				{{end}}
			</div>
			{{end}}
			<div id="comments" class="comments">
			<!-- UY BEGIN -->
			<div id="uyan_frame"></div>
			<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1818114"></script>
			<!-- UY END -->
			</div>
		</div> <!-- .inner -->
	</div>  <!-- .article -->

	<!--footer--><!--//footer-->

	<nav id="pagination">
		{{if .PrevLog}}
		<a id="prev" href="././posts/{{.PrevLog.Permalink}}/index.html" class="v_nav">
			<span class="icon">Prev</span>
		</a>
		{{end}}
		{{if .NextLog}}
		<a id="next" href="././posts/{{.NextLog.Permalink}}/index.html" class="v_nav">
			<span class="icon">Next</span>
		</a>
		{{end}}
	</nav>
	
</body>
</html>
