<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{.SiteInfo.Site}}</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<meta name="author" content="{{.SiteInfo.Author}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="alternate" href="/atom.xml" title="{{.SiteInfo.Site}}" type="application/atom+xml">
	<!--[if lt IE 9]><script src="././js/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="././css/style.css" type="text/css" media="screen" /> 
	<link rel="icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/png" href="././images/favico.ico" type="image/x-icon" />
	<script type="text/javascript" src="././js/jquery.js"></script>
	<script type="text/javascript" src="././js/main.js"></script>
</head>

<body>

	<!--header--><!--//header-->

	<div id="articles">
	{{if .LogList}}
		{{range $key, $log := .LogList}}
		<div class="article">
			<div class="inner">
				<h2 class="article_title title">
					<a href="././posts/{{$log.Permalink}}/index.html">{{$log.Title}}</a>
				</h2>
				<div class="article_meta">
				<span>by</span>
				{{$.SiteInfo.Author}}
				<span>on</span>
				{{$log.Date.Format " Jan 2 2006"}}
				<span>with</span>
				<a href="././posts/{{$log.Permalink}}/index.html#comments">Comments</a>
				</div>
				<div class="text">
				{{if $log.IsArticle}}
					{{ $log.Summary }}
				{{else}}
					{{range $key, $photo := $log.Summary}}
					<p><img src="././posts/{{$log.Permalink}}/{{$photo.PhotoFileName}}" /></p>
					{{if $photo.HasComment}}<p style="text-align:center;margin-top:-15px">[{{$photo.Comment}}]</p>{{end}}
					{{end}}
				{{end}}
				</div>
				<div class="big_sep"></div>
				{{if $log.Tags}}
				<div class="article_meta">
				<span>tagged:</span>{{range $key,$tag := $log.Tags}}
				<a class="tag" href="././tags/{{$tag.Alias}}.html">{{$tag.Name}}</a>
				{{if len $log.Tags | last $key | not}}, {{end}}
				{{end}}
				</div>
				{{end}}
			</div> <!-- .inner -->
		</div><!-- .article -->
		<div class="sep"></div>
		{{end}}
	{{else}}
		<div class="article">
			<div class="inner">
				<h2 class="article_title title">尚无内容</h2>
			</div> <!-- .inner -->
		</div><!-- .article -->
	{{end}}
	</div>

	<!--footer--><!--//footer-->

	<nav id="pagination">
		{{if .PrevPage}}
		<a id="prev" href="./{{.PrevPage.PageName}}.html" class="v_nav">
			<span class="icon">Prev</span>
		</a>
		{{end}}
		{{if .NextPage}}
		<a id="next" href="./{{.NextPage.PageName}}.html" class="v_nav">
			<span class="icon">Next</span>
		</a>
		{{end}}
	</nav>
	
</body>
</html>
