<!DOCTYPE html>
<html xml:lang="en-US" lang="en-US">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{.LogInfo.Title}} | Lyric.im</title>
	<link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="alternate" href="/atom.xml" title="{{.SiteInfo.Site}}" type="application/atom+xml">
	<!--[if lt IE 9]><script src="././js/html5.js"></script><![endif]-->
	<link rel="stylesheet" href="././css/style.css" type="text/css" media="screen" /> 
	<link rel="shortcut icon" type="image/png" href="././images/favico.ico" />
	<script type="text/javascript" src="././js/jquery.js"></script>
	<script type="text/javascript" src="././js/main.js"></script>
</head>

<body>

	<!--header--><!--//header-->
	
	<div class="article">
		<div class="inner">
			<h2 class="article_title title">{{.LogInfo.Title}}</h2>
			<div class="article_meta">
				<div class="share">
					<a href="https://twitter.com/share" class="twitter-share-button" data-via="shellex">Tweet</a>
					<div class="g-plusone" data-size="medium"></div>
				</div>
				<span>by</span>
				Lyric Wai
				<span>on</span> May 18 2013
				<span>with</span>
				<a href="/what-is-chrome-os/#comments">Comments</a>
			</div>
			<div class="text">{{.LogInfo.Log}}</div>
			<div class="big_sep"></div>
			<div class="article_meta">
				<span>tagged:</span>
				{{range $log.Tags}}
				<a class="tag" href="././tags/{{.Alias}}.html">{{.Name}}</a>, 
				{{end}}
			</div>
			<div id="comments" class="comments">
				<!--comment-->  
			</div>
		</div> <!-- .inner -->
	</div>  <!-- .article -->

	<!--footer--><!--//footer-->
	
	<nav id="pagination">
		{{if .NextPage}}    
		<a id="next" href="/page/2/" class="v_nav">
			<span class="icon">Next</span>
		</a>
		{{end}}
	</nav>

</body>
</html>
